.understanding_problem{
    font-size: 1.3rem;
}
.risk-assesment{
    position: relative;
}
.service-detail{
    width: 70%;
}
.risk-assesment-wrapper{
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin:2rem auto;
    padding: .5rem;
    width: 100%;
}
.service-name{
    text-align: center;
}

.project{
    height: 50vh;
    background-size: cover;
    background-attachment: fixed;
    margin: 10px;
    border-radius: 4px;
    padding:0 3rem;
    transition: .3s;

    -webkit-box-shadow: 0px 9px 25px -8px rgba(0,7,79,1);
    -moz-box-shadow: 0px 9px 25px -8px rgba(0,7,79,1);
    box-shadow: 0px 9px 25px -8px rgba(0,7,79,1);
}
.project:hover{
    transform: scale(1.01);

    -webkit-box-shadow: 0px 9px 25px -8px rgba(0,4,41,1);
    -moz-box-shadow: 0px 9px 25px -8px rgba(0,4,41,1);
    box-shadow: 0px 9px 25px -8px rgba(0,4,41,1);
}
.make_req{
    padding: 1rem;
    font-size: 1.3rem;
    border: 1px solid black;
    background: transparent;
    margin: 1rem;
}
.req_form_container{
    position: fixed;
    display: none;
    height: 90vh;
    width: 90%;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: #eeeeee;
    z-index: 3;
    padding: 2rem;
}
.req_back{
    font-size: 1.5rem;
}

@media only screen and (max-width:768px) {
    .understanding_problem{
        font-size: 1rem;
    }
    .risk-assesment-wrapper{
        grid-template-columns: repeat(1,1fr);
    }
    .project{
        padding:0 1rem;
    }
    .service-detail{
        width: 100%;
    }
    /* .project{
        height: 50vh;
        background-size: cover;
        background-attachment: fixed;
        margin: 10px;
        border-radius: 4px;
        padding:0 3rem;
        transition: .3s;
    
        -webkit-box-shadow: 0px 9px 25px -8px rgba(0,7,79,1);
        -moz-box-shadow: 0px 9px 25px -8px rgba(0,7,79,1);
        box-shadow: 0px 9px 25px -8px rgba(0,7,79,1);
    } */
    
}